.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*.navbar-right {
  margin-right: 0px !important;
}*/

/*.log {
  margin: 8px 10px 0 0;
}*/

.login-btn-wrapper {
  padding: 10px;
}

.dropdown-menu {
  padding: 10px;
}

/*to remove padding around page body*/
main.container-fluid {
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  width: 100%;
}
